
@mixin mdb-label-color-toggle-focus(){
  .form-group.is-focused & {
    color: $mdb-label-color;

    &:hover,
    &:focus {
      color: $mdb-label-color-toggle-focus;
    }

    fieldset[disabled] & {
      color: $mdb-label-color;
    }
  }
}

.form-horizontal {

  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline {
    padding-top: 0;
  }

  .radio {
    margin-bottom: 10px;
  }

  label {
    text-align: right;
  }

  label.control-label {
    margin: 0;
  }
}

.form-newsletter{
    .input-group,
    .form-group{
        float: left;
        width: 78%;
        margin-right: 2%;
        margin-top: 9px;
    }

    .btn{
        float: left;
        width: 20%;
        margin: 9px 0 0;
    }
}
